
<div class="row textHorizontalSpace">
	
	<a href="mailto:{{ user.email }}">
	<div class="emailMe">
		<svg class="emailMeSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" enable-background="new 0 0 100 100">
			<g><path [attr.d]="image1"/></g>
			<path [attr.d]="image2"/>
		</svg>
		<p class="emailMeText">Email me!</p>
	</div>
	</a>

	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 bgColor1">
		<h2>{{ title }}</h2>
		<p>{{ description }}</p>
	</div>
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 bgColor2">
		<h2>My contact information</h2>
		<p>{{ user.location }}</p>
		<p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
		<p>{{ user.phone }}</p>
	</div>
</div>
