.p1 {
	color: #404040;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Ranga', cursive;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    margin-bottom: 15%;
    text-align: center;
	height: 90%;
    line-height:45px;
}

.p2 {
	color: white;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Carter One', cursive;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15%;
    margin-bottom: 15%;
    text-align: center;
	height: 100%;

}	

.bgColor1 {
	height: inherit;
	background: repeating-linear-gradient(
	  135deg,
	  #fcb72d,
	  #fcb72d 10px,
	  #f4b23d 10px,
	  #f4b23d 20px
	);
}

.bgColor2 {
	
	height: inherit;
	background: repeating-linear-gradient(
	  45deg,
	  #ee3344,
	  #ee3344 10px,
	  #eb2c32 10px,
	  #eb2c32 20px
	);
}



.textHorizontalSpace {
	margin-right: 0px;
	margin-left: 0px;
	display: flex;
	flex-wrap: wrap;
}

.textHorizontalSpace > div[class*='col-'] {  
  display: flex;
  flex-direction: column;
}