<div class="bgColor">
	<br>
	<div class="row textHorizontalSpace">
		<div class="col-sm-12">
			<h2>{{ title }}</h2>
		</div>
		<div class="col-sm-12 spaceBottom">
			<p>{{ description }}</p>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-12 text-center">
				<p>{{ angularText }}</p>
				<div class="angularImg"><a href="https://angular.io/"><img [src]="angularImg"></a></div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-12 text-center">
				<p>{{ firebaseText }}</p>
				<div class="angularImg"><a href="https://firebase.google.com/"><img [src]="firebaseImg"></a></div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-12 text-center">
				<p>{{ googleFontText }}</p>
				<div class="angularImg"><a href="https://fonts.google.com/"><img [src]="googleFontImg"></a></div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-12 text-center">
				<p>{{ githubText }}</p>
				<div class="angularImg"><a href="https://pages.github.com/"><img [src]="githubImg"></a></div>
			</div>
		</div>
	</div>
	<br>
	<br>
</div>