<div class="container bgColor">
	<br>
	<br>
	<br>
	<div class="row textHorizontalSpace">
		<div class="col-sm-12">
			<div class="col-sm-12 text-center">
				<p>{{ angularText }}</p>
				<div class="angularImg"><a href="https://angular.io/"><img [src]="angularImg"></a></div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-12 text-center">
				<p>{{ githubText }}</p>
				<div class="angularImg"><a href="https://pages.github.com/"><img [src]="githubImg"></a></div>
			</div>
		</div>
	</div>
	<br>
	<br>
</div>