h2 {
	color: white;
	font-size: 40px;
	font-weight: 900;
    font-family: 'Lato', sans-serif;
}

p {
	color: white;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	margin-top: 20px;
}

.bgColor {
	background-color: #2c3a46;
}

.textHorizontalSpace {
	margin-left: 30px;
	margin-right: 30px;
}