<header>
</header>
<main>
	<div class="container-fluid">
		<div class="row">	
			<template ngbModalContainer></template>
			<estebanpadilla></estebanpadilla>
			
			<aboutMe></aboutMe>
			<highlights></highlights>
			<iosdeveloper></iosdeveloper>
			<!--<whatCanIDo></whatCanIDo>-->
			<app-development></app-development>
			<contact></contact>
			<rememberToClick></rememberToClick>
			<experienceEducation></experienceEducation>
			<!--<skillsToolsDevelopment></skillsToolsDevelopment>-->
			<!--<believe></believe>-->
			<!--<lenguajes></lenguajes>-->
			
			<!--<hobbies></hobbies>-->
			<epfooter></epfooter>
			<!--<download></download>-->
		</div>
	</div>
</main>
<footer>
</footer>