<header>
</header>
<main>
	<div class="container">
		<div class="row">
			<template ngbModalContainer></template>
			<estebanpadilla></estebanpadilla>
			<aboutMe></aboutMe>
			<iosdeveloper></iosdeveloper>
			<whatCanIDo></whatCanIDo>
			<rememberToClick></rememberToClick>
			<skillsToolsDevelopment></skillsToolsDevelopment>
			<believe></believe>
			<experienceEducation></experienceEducation>
			<!--<lenguajes></lenguajes>-->
			<contact></contact>
			<hobbies></hobbies>
			<epfooter></epfooter>
			<download></download>
		</div>
	</div>
</main>
<footer>
</footer>