h2 {
	color: #152639;
	font-size: 30px;
	font-weight: 900;
    font-family: 'Lato', sans-serif;
}

h3 {
	color: #152639;
	font-size: 20px;
	font-weight: 700;
    font-family: 'Lato', sans-serif;
    margin-top: 40px;
}


p {
	color: #152639;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

li {
	color: #152639;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;	
}

.bgColor {
	background-color: #eef8fd;
}

.textHorizontalSpace {
	margin-left: 30px;
	margin-right: 30px;
}

.centerOnDiv{
	text-align: center;
}


img {
	display: inline-block;
	margin-top: -40px;
	height: auto;
 	max-width: 100%;
}
