<div class="container bgColor">
	<br>
	<br>
	<div class="row textHorizontalSpace">
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
	 		<div class="text-center"><img [src]="user.avatar"></div>
		</div>
		<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
			<h1 class="text-left">{{ user.name }}</h1>
			<p class="text-left p2">{{ user.description }}</p>
			<p class="text-left">{{ user.location }}</p>
			<p class="text-left"><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
			<p class="text-left">{{ user.phone }}</p>
		</div>
	</div>
	<br>
</div>