@import url("styles.css") bgColor;

.pTitle {
	color: white;
	font-size: 100px;
    font-family: 'Boogaloo', cursive;
	height: 100%;
    margin-bottom: 10px;
    margin-top: -20px;
    text-align: center;
    line-height:85px;
    user-select: none;
}

.p1 {
	color: #ffdd17;
	font-size: 55px;
	font-weight: 400;
	font-family: 'Bangers', cursive;
	height: 100%;
    margin-top: 0px;
    line-height:50px;
    text-align: center;
    user-select: none;
}

.p2 {
	color: #820000;
	font-size: 25px;
	font-weight: 400;
	font-style: italic;
    font-family: 'Lato', sans-serif;
	height: 100%;
    margin-top: -10px;
    text-align: center;
    line-height: 25px;
    user-select: none;
}

@media all and (max-width: 699px) and (min-width: 200px) {
    .pTitle {
	    font-size: 60px;
        margin-bottom: 5px;
        line-height:52px;
    }

    .p1 {
        font-size: 35px;
        line-height:35px;
    }

    .p2 {
        font-size: 17px;
        line-height:19px;
    }
}

img {
	height: auto;
    max-height: 250px;
    width: auto;
    align-content: center;
}

.headerSpaces {
    padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
}

.textHorizontalSpace {
	margin-right: 30px;
	margin-left: 30px;
}

.displayOptions {
    
    margin-top: 5%;
}

.lastUpdateBox{
    background-color:#2c3a46;
    position:absolute;
    float: left;
    top: 10px;
    width: 150px;
    height: 50px;
    margin-left: -30px;
    border-color: transparent #ee3344 transparent transparent;
    border-style: solid;
    border-width: 25px;
}

.lastUpdateBox_h1 {
    color: #eef8fd;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    height:50%;
    margin-top: -21px;
    margin-bottom: 0px;
    margin-left: -15px;
    text-align: center;

}

.lastUpdateBox_p {
    color: #eef8fd;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    height: 50%;
    text-align: center;
    margin-left: -15px;
    margin-top: 18px;
}

.twitter {
    position:absolute;
    float: right;
    top: 2%;
    right: 10px;
    width: 40px;
    height: 40px;
}

.twitter img {
	height: 40px;
    width: auto;
    justify-content: center;
    flex-direction: column;
}

.github {
    position:absolute;
    float: right;
    top: 2%;
    right: 60px;
    width: 40px;
    height: 40px;
}

.github img {
	height: 40px;
    width: auto;
    justify-content: center;
    flex-direction: column;
}

.logo {
    height: 250px;
    width: auto;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
}

.logoSVG {
    fill:#2c3a46;
	height:100%;
	width: auto;
}