.pTitle {
	color: white;
	font-size: 60px;
	font-weight: 900;
    font-family: 'Lato', sans-serif;
	height: 100%;
    margin-bottom: 10px;
    margin-top: auto;
    text-align: center;
    line-height:50px;
}

p {
	color: #ffeead;
	font-size: 35px;
	font-weight: 400;
	font-family: 'Bangers', cursive;
	height: 100%;
    margin-top: 0px;
    line-height:35px;
    text-align: center;
}

.p2 {
	color: #820000;
	font-size: 17px;
	font-weight: 400;
	font-style: italic;
    font-family: 'Lato', sans-serif;
	height: 100%;
    margin-top: -10px;
    text-align: center;
    line-height: 17px;

}

img {
	height: 300px;
    width: auto;

}

.bgColor {
	background-color: #ee3344;
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
}

.textHorizontalSpace {
	margin-right: 30px;
	margin-left: 30px;
}

.displayOptions {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
}

.lastUpdateBox{
    background-color:#2c3a46;
    position:absolute;
    float: left;
    top: 10px;
    width: 150px;
    height: 50px;
    margin-left: -30px;
    border-color: transparent #ee3344 transparent transparent;
    border-style: solid;
    border-width: 25px;
}

.lastUpdateBox_h1 {
    color: #eef8fd;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    height:50%;
    margin-top: -30px;
    margin-bottom: 0px;
    margin-left: -15px;
    text-align: center;

}

.lastUpdateBox_p {
    color: #eef8fd;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    height: 50%;
    text-align: center;
    margin-left: -15px;
    margin-top: 18px;
}

.twitter {
    position:absolute;
    float: right;
    top: 2%;
    right: 10px;
    width: 40px;
    height: 40px;
}

.twitter img {
	height: 40px;
    width: auto;
    justify-content: center;
    flex-direction: column;
}

.github {
    position:absolute;
    float: right;
    top: 2%;
    right: 60px;
    width: 40px;
    height: 40px;
}

.github img {
	height: 40px;
    width: auto;
    justify-content: center;
    flex-direction: column;
}
