h1 {
	color: white;
	font-size: 60px;
	font-weight: 900;
    font-family: 'Lato', sans-serif;
	height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    line-height:-5px;
    margin-bottom: 0px;
}

p {
	color: #404040;
	font-size: 23px;
	font-weight: 400;
	font-style: italic;
	font-family: 'Lato', sans-serif;
	height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 0px;
}

img {
	height: 200px;
    width: auto;
    justify-content: center;
    flex-direction: column;
}

a {
	text-decoration: none;
	color: #404040;
}

a:hover {
	color:#00ADEF;
	font-weight: 400;	
}

.bgColor {
	background-color: #00adef;
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
}

.textHorizontalSpace {
	margin-right: 0px;
	margin-left: 0px;
	display: flex;
	flex-wrap: wrap;
}

.displayOptions {
	height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}


.lastUpdateBox{
    background-color: white;
    position:absolute;
    float: left;
    top: 20px;
    width: 150px;
    height: 50px;
    margin-left: -30px;
    border-color: transparent #00adef transparent transparent;
    border-style: solid;
    border-width: 25px;
}

.lastUpdateBox_h1 {
    color: #404040;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    height:50%;
    margin-top: -18px;
    margin-bottom: 0px;
    margin-left: -15px;
    text-align: center;

}

.lastUpdateBox_p {
    color: #404040;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    height: 50%;
    text-align: center;
    margin-left: -15px;
    margin-top: 16px;
}

.twitter {
    position:absolute;
    float: right;
    top: 2%;
    right: 10px;
    width: 40px;
    height: 40px;
}

.twitter img {
	height: 40px;
    width: auto;
    justify-content: center;
    flex-direction: column;
}

.github {
    position:absolute;
    float: right;
    top: 2%;
    right: 60px;
    width: 40px;
    height: 40px;
}

.github img {
	height: 40px;
    width: auto;
    justify-content: center;
    flex-direction: column;
}
