<div class="bgColor2">
  <br>
  <br>
  <div class="row textHorizontalSpace">
    <div class="col-lg-12">
      <h2>{{ title }}</h2>
    </div>
  </div>
</div>
<div class="bgColor2">
  <div class="row textHorizontalSpace2">
    <div *ngFor="let highlight of highlights">
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" 
              (click)="selectHighlight(highlight)">
        <div class="highlightStyle">
          <!--<img [src]="highlight.image">-->
          <svg class="highlightSvg"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
            <path [attr.fill]="getSelectedHighlightColor(highlight)" [attr.d]="highlight.image"/>
          </svg>
          <h4>{{ highlight.title }}</h4>        
        </div>
      </div>  
    </div>
  </div>
</div>
<div *ngIf="selectedHighlight">
  <div class="bgColor2">
  <!--<div [style.background-color]="selectedHighlight.selectedColor">-->
    <div class="row textHorizontalSpace">
      <div class="col-lg-12">
        <h3>{{ selectedHighlight.descriptionTitle }}</h3>
        <div *ngFor="let description of selectedHighlight.descriptions">
            <p>{{ description }}</p>
        </div>  
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
</div>


