h2 {
	color: white;
	font-size: 16px;
	font-weight: 900;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

a {
	text-decoration: none;
}

h2:hover {
	color:#ee3344;
}

.bgColor {
	background-color: #2c3a46;
	height: 100px;
}

.textHorizontalSpace {
	margin-left: 60px;
	margin-right: 60px;
}

.centerOnDiv{
	text-align: center;
}

span {
	margin-right: 4px;
}