h2 {
	color: #eef8fd;
	font-size: 16px;
	font-weight: 900;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

a {
	text-decoration: none;
}

h2:hover {
	color:#FFDD17;
}

.bgColor {
	background-color: #152639;
	height: 100px;
}

.textHorizontalSpace {
	margin-left: 60px;
	margin-right: 60px;
}

.centerOnDiv{
	text-align: center;
}

span {
	margin-right: 4px;
}