/* You can add global styles to this file, and also import other style files */

.bgColor{
    background-color: #ee3344;
}

.bgColor2 {
    background-color: #2b0d3b;
}

.bgColor3 {
	background-color: #ffdd17;
}

.bgColor4 {
    background-color: #b5e2ef;
}


