/* You can add global styles to this file, and also import other style files */

.bgColor{
    background-color: #ee3344;
}

.bgColor2 {
    background-color: #2c3a46;
}

.bgColor3 {
	background-color: #ffdd17;
}


