h2 {
	color: white;
	font-size: 30px;
	font-weight: 900;
    font-family: 'Lato', sans-serif;
}

p {
	color: white;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	margin-top: -5px;
}

button {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	background-color: transparent;
	box-shadow: none;
}

.p_link:hover {
	color:white;
	cursor: pointer;
	font-weight: 400;
}

.bgColor {
	background-color: #465EAA;
}

.textHorizontalSpace {
	margin-left: 30px;
	margin-right: 30px;
}

.hobbie img {
	cursor: pointer;	
	border: 3px solid #404041;
  	max-height:90px;
  	width:auto;
  	border-radius: 45px;
}

.hobbieModal img {
	border: 3px solid #404041;
  	max-height:90px;
  	width:auto;
  	border-radius: 45px;
}

.centerOnDiv{
	text-align: center;
}

.topSpace{
	margin-top: 50px;
}

.h2_Modal {
	color: #404040;
	margin-top: 5px;
}

.p_modal {
	color:#404040;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

